button {
    background-color: #002ead;
    width: 180px;
    height: 70px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}


button:hover {
    opacity: .9;
    filter: drop-shadow(0px 0px 10px #ffc252);

}

